# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environments
venv/
ENV/
.env/
.venv/

# VS Code
.vscode/

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Logs
*.log

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Others
*.sqlite3
*.db

# MacOS
.DS_Store

# Linux
*.swp
*~

# Windows
Thumbs.db


/competition_obsolete
/competition
/ai_analitics
/notebooks